@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik&display=swap");

body {
  background-color: #f3fbfb;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.container-fluid {
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

.daily .card {
  display: inline-block;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: all 0.3s ease-in-out;
}
.daily .card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.daily .card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #92d4e4;
}
.tag-purple {
  background-color: #3d1d94;
}
.tag-pink {
  background-color: #c62bcd;
}
.daily .card-body h4 {
  margin: 10px 0;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.daily .card-body p {
  font-size: 14px;
  margin: 0 0 40px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}

.daily .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 940px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.heading {
  font-family: "Rubik", sans-serif;
  color: black;
  font-size: 22px;
  font-weight: 500;
  margin: 20px;
}

@media (max-width: 1663px) {
  .container {
    margin-left: auto;
  }
}
.carousel-inner {
  background-color: white !important;
}

.carousel-heading {
  font-family: "Rubik", sans-serif;
  padding: 30px 0 0 100px;
  color: black;
  font-weight: 500;
  font-size: 40px;
  width: 100%;
}

.blog-text {
  padding: 30px 0 0 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.carousel-content {
  padding: 30px 0 0 100px;
}

a.button3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 30px 0 0 100px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
a.button3:hover {
  background-color: #4095c6;
}
@media all and (max-width: 30em) {
  a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.daily .card-body h4:hover {
  transform: scale(1.05);
  transition: all 0.2s;
  font-weight: 600;
}

.email {
  display: inline-block;
  border: none;
  width: 350px;
  padding: 10px 0;
}

.subscribe {
  background-color: #8971ea;
  border: none;
  color: white;
  padding: 9px 0px;
  border-radius: 4px;
}
