/* css for input type range */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #91BCE5;
  border-radius: 1.3px;
  border: 0.2px solid #1F2024;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #9BAA9C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #91BCE5;
  border-radius: 1.3px;
  border: 0.2px solid #1F2024;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #9BAA9C;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #1F2024;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #91BCE5;
  border: 0.2px solid #1F2024;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=tel]{
  width: 80%;
  min-height: 2rem;
  background-color: #91BCE5;
  float: "right";
  font-weight: "600";
  padding: 5px 4px;
  border-radius: 5px;
  text-align: "center";
}

.sipContainer{
  margin: 0 10% !important;
  padding: 2% !important;
  background-color: #F7F7F7 !important;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.stats{
  margin: 2%;
}
#pie{
  margin-left: 5%;
}
.Info{
  margin: 5% 10%;
}
.infoHead{
  font-weight: 600;
  font-size: 1.5rem;
}
.infoSubHead{
  font-size: 1.2rem;
}
.calHeading{
  font-weight: 600;
  font-size: 2rem;
}
.calTagline{
  font-weight: 500;
  font-size: 1.6rem;
}
.tableData{
  font-weight: 500;
  font-size: 1.2rem;
}
.dreambtn,.sectionbtn{
  background-color: #91BCE5;
  border: 2px solid #252525;
}
.dreambtn:hover,.sectionbtn:hover{
  background-color: #252525;
  color:white;
  border: 2px solid #91BCE5;
}

.learningHeading{
  font-weight: 600;
  letter-spacing: 2px;
}
.learningTagline{
  font-weight: 500;
}
.formQuestion{
  font-size: 1rem;
  font-weight: 600;
}
.formOption{
  font-size: 0.9rem;
  font-weight: 600;
  color: grey;
}
.page-item{
  cursor: pointer;
}
.pagno{
  color:black;
}
.taxResult{
  font-weight: 500;
  font-size: 1.4rem;
  color:green;
}